# Project exclude paths
/.gradle/
/Topics/Boolean and logical operations/Invitations and gifts/out/
/Topics/Boolean and logical operations/Invitations and gifts/out/production/classes/
/Topics/Characters/Digits or not/out/
/Topics/Characters/Digits or not/out/production/classes/
/Topics/Characters/Previous character/out/
/Topics/Characters/Previous character/out/production/classes/
/Topics/Characters/Sequence/out/
/Topics/Characters/Sequence/out/production/classes/
/Topics/Integers in action/The number of tens/out/
/Topics/Integers in action/The number of tens/out/production/classes/
/Topics/Relational operators/Groundhogs at the party/out/
/Topics/Relational operators/Groundhogs at the party/out/production/classes/
/Topics/Repeating blocks/Kotlin x5/out/
/Topics/Repeating blocks/Kotlin x5/out/production/classes/
/Topics/Repeating blocks/Repeat by value/out/
/Topics/Repeating blocks/Repeat by value/out/production/classes/
/Topics/String basics/Appending numbers to strings/out/
/Topics/String basics/Appending numbers to strings/out/production/classes/
/Topics/String basics/I'm learning Kotlin/out/
/Topics/String basics/I'm learning Kotlin/out/production/classes/
/Zookeeper (Kotlin)/task/build/
/Zookeeper (Kotlin)/task/out/
/Zookeeper (Kotlin)/task/out/production/classes/